.wpml-ls-statics-shortcode_actions{background-color:#fff}.wpml-ls-statics-shortcode_actions,.wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu,.wpml-ls-statics-shortcode_actions a{border-color:#fff}
.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important}
.notfound-block{padding:18%;text-align:center}.notfound-block a{color:#1a1a1a}.notfound-block a:hover{color:#ad833a}h1{font-size:50px;color:#ad833a;margin-top:0;margin-bottom:25px}.back-to-home-btn{display:block;color:#fff;font-size:22px;margin-top:10px}@media(max-width:767px){.notfound-block{padding:35% 10% 10% 15%;text-align:center}.back-to-home-btn{font-size:18px;margin-top:10px}}