/*
Theme Name: ECI

Adding support for languages written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support

*/

/*
body {
	direction: rtl;
	unicode-bidi: embed;
}
*/

html{margin-top:32px !important}* html body{margin-top:32px !important}@media screen and (max-width:782px){html{margin-top:46px !important}* html body{margin-top:46px !important}}