    /*
    Flaticon icon font: Flaticon
    Creation date: 28/07/2019 11:16
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-contract:before { content: "\f100"; }
.flaticon-checked:before { content: "\f101"; }
.flaticon-add:before { content: "\f102"; }
.flaticon-attach:before { content: "\f103"; }
.flaticon-attachment:before { content: "\f104"; }
.flaticon-error:before { content: "\f105"; }
    
    $font-Flaticon-contract: "\f100";
    $font-Flaticon-checked: "\f101";
    $font-Flaticon-add: "\f102";
    $font-Flaticon-attach: "\f103";
    $font-Flaticon-attachment: "\f104";
    $font-Flaticon-error: "\f105";