$primary: #ad833a;
$secondary: #1a1a1a;
$gray: #f4f7f8;
//break-points
$mobile: "only screen and (max-width: 640px)";
$mobile-small: "only screen and (max-width: 320px)";
$tablet: "only screen and (max-width: 768px)";
$tablet-large: "only screen and (max-width: 1024px)";
$laptop: "only screen and (max-width: 1440px)";
.sme-protect-apply,.sme-protect-apply:visited{
  background: $primary;
  color: #FFF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 150px;
  padding: 8px 0;
  justify-content: center;
  i::before{
    font-size: 25px;
    margin: 0;
    margin-right: 10px;
  }
}
.sme-protect-apply:hover{
  background: $secondary;
  color: #FFF;
}
@media #{$mobile}{
  .vertical-tab-blocks{
    .nav-stacked{
      display: flex;
      >li{
        width: 25%;
        text-align: center;
      }
    }
  }
}
@media #{$mobile-small}{
  .vertical-tab-blocks{
    .scrollbox{
      max-height: none !important;
    }
    .nav-stacked{
      display: flex;
      >li{
        width: 25%;
        text-align: center;
      }
    }
  }
}
.select2-results__option--highlighted {
  background-color: $primary !important;
}
.eci-protect-page{
  font-size: 16px;
  max-width: 1200px;
  margin: auto;
  h1,h2{
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
  }
  @media #{$mobile}{
    padding: 15px;
  }
  >h1{
    margin: 30px 0 20px 0;
    text-align: center;

  }
  .description{
    margin-bottom: 20px;
    li{
      list-style: square;
      margin: 0 10px 15px;
    }
  }

  .submit-button{
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    border-radius: 5px;
    background: $primary;
    color: #FFF;
    border:none;
  }
  input[type="submit"]:hover{
    background: $secondary;
  }
  .white-box-wrapper{
    background: #FFF;
    margin: 15px 0;
    padding: 30px;
    >small{
      margin: 0 20px;
      font-size: 14px;
      display: block;
    }
    >h1{
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
      @media #{$mobile}{
        font-size: 18px;
      }
    }
    .form-section{
      margin: 25px 0;
      >h1{
        font-size: 18px;
        @media #{$mobile}{
          font-size: 16px;
        }
      }
      .form-row{
        display: flex;
        @media #{$mobile}{
          flex-wrap: wrap;
        }
        .form-col{
          width: 50%;
          @media #{$mobile}{
            width: 100%;
          }

          input,select{
            display: block;
            width: 100%;
            border: solid thin #dedede;
            border-radius: 5px;
            padding: 8px 15px;
            margin: 15px 0;
          }
          @media #{$mobile}{
            input:last-child{
              margin-bottom: 0;
            }
          }
          input::placeholder{
            color: #999;
          }


          .select2-container .select2-selection--single{
            height: 45px;
            border: solid thin #dedede;
          }
          .select2-container--default .select2-selection--single .select2-selection__rendered{
            line-height: 45px;
          }
          .select2-selection__arrow {
              height: 45px !important;
          }

          .select2{
            display: block;
            margin: 15px 0;
          }
        }
        .form-col:first-child{
          padding-right: 20px;
          @media #{$mobile}{
            padding-right: 0;
          }
        }
        .form-col:first-child:lang(ar){
          padding-left: 20px;
          padding-right: 0;
          @media #{$mobile}{
            padding-left: 0;
          }
        }
      }
      .add_buyers{
        display: block;
        width: 100%;
        margin-top: 15px;
        padding: 10px;
        background-color: #fbfbfb;
        border: solid thin #ddd;
        border-radius: 5px;
        color: $primary;
        i::before{
          content: "\f102";
          margin: 0;
          margin-right: 10px;
          font-size: 16px;
          top: -1px;
          position: relative;
        }
      }
    }
    a,a:visited{
      color: $primary;
      text-decoration: underline !important;
    }
  }
  .premium-table-wrapper{
    display: flex;
    flex-wrap: wrap;
    @media #{$mobile}{
      overflow: auto;
    }
    >table{
      width: 85%;
      td,th{
        border: solid thin #dedede;
        padding: 20px;
        text-align: center;
        white-space: nowrap;
      }
      >thead{
        tr{
          background: $gray;
        }
      }
    }
    .multi-select{
      width: 15%;
      margin-top: 70px;
      .wrapper{
        height: 67px;
        display: flex;
        align-items: center;
        padding: 20px;
      }
      input{
        display: none;
      }
      label{
        background: #FFF;
        color: $primary;
        display: block;
        font-weight: normal;
        border-radius: 5px;
        border: solid thin $primary;
        cursor: pointer;
        display: block;
        padding: 4px 0;
        width: 140px;
        text-align: center;
        position: relative;
        i{
          display: none;
          position: absolute;
          left: 10px;
        }
        i::before{
          margin: 0;
          margin-right: 5px;
          font-size: 16px;
        }
        .selected{
          display: none;
        }
      }
      input:checked + label{
        background: $primary;
        color: #FFF;
        i{
          display: block;
        }
        .select{
          display: none;
        }
        .selected{
          display: block;
        }
      }
    }
  }
  .upload-row{
    display: flex;
    flex-wrap: wrap;
    input{
      display: none;
    }
    >div{
      width: 25%;
      padding: 20px;
      @media #{$mobile}{
        width: 100%;
      }
      >button{
        border: none;
        width: 100%;
        background: $gray;
        padding-top: 35px;
        padding-bottom: 15px;
        font-weight: bold;
        font-size: 16px;
        i{
          display: block;
          color: #929292;
          margin-bottom: 20px;
          font-weight: normal;
        }
        i::before{
          margin: 0;
          font-size: 60px;
        }
      }
    }
    .attachment-block{
      display: block;
      width: 100%;
      background: #f4f7f8;
      margin: 15px 0;
      padding: 8px 40px;
      position: relative;
      i::before{
        margin: 0;
      }
      .flaticon-attachment{
        position: absolute;
        left: 10px;
        color: $primary;

      }
      .flaticon-error{
        position: absolute;
        right: 10px;
        color: #929292;
        cursor: pointer;

      }
    }
  }
  .buyers-section{
    .form-section:first-child .remove-buyer{
      display: none;
    }
  }
  .error-form{
    display: block;
    background-color: #ffd6d6;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
  }
  .success-block{
    background: #FFF;
    display: block;
    width: 1000px;
    max-width: 100%;
    margin: 150px auto;
    padding: 40px;
    text-align: center;
    .tick{
      width: 100px;
      border: solid 5px $primary;
      border-radius: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 20px;
      i::before{
        content: "\f101";
        margin: 0;
        font-size: 35px;
        top: 4px;
        position: relative;
        color: $primary;
      }
    }
    >h1{
      font-size: 28px;
      margin-bottom: 20px;
    }
    >p{
      margin-bottom: 5px;
    }
    >a,>a:visited{
      background: $primary;
      color: #FFF;
      padding: 10px 50px;
      display: inline-block;
      margin-top: 20px;
      border-radius: 5px;
    }
  }
  .error-field{
    display: block;
    background-color: #ffd6d6;
    padding: 10px !important;
    border-radius: 5px;
    font-weight: bold;
    width: 100% !important;
    margin: 15px 0;
  }
  .terms-box{
    >div{
      input{
        display: none;
      }
      label{
        font-weight: normal;
        display: flex;
        justify-content: center;
        font-size: 14px;
        .checkbox{
          display: block;
          width: 25px;
          height: 25px;
          margin: 0;
          min-width: 25px;
          border: solid thin #eee;
          margin-right: 20px;
          background: #FFF;
          border-radius: 8px;
          margin-top: 5px;
          i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: $primary;
            display: none;
          }
          i::before{
            margin: 0;
          }
        }
      }
      input:checked + label{
        .checkbox{
          i{
            display: block;
          }
        }
      }
    }
  }
  .number-of-years{
    padding: 0 5px;
    font-weight: bold;
    color: $secondary;
  }

}
.buyer-template{
  display: none;
}
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok{
  color: $primary;
}
.page-template-default{
  .entry-header{
    >h1{
      text-align: center;
      margin: 40px;
      @media #{$mobile}{
        margin: 20px;
      }
    }
  }
  .entry-content{
    background: #FFF;
    width: 80%;
    margin: auto;
    padding: 25px;
    @media #{$mobile}{
      width: 95%;
    }
  }
}
.footer{
  .footer-menu{
    float: right;
    @media #{$mobile}{
      float: none;
    }
    ul{
      color: #FFF;
      display: flex;
      flex-wrap: wrap;
      @media #{$mobile}{
        justify-content: center;
      }
      li{
        margin: 0 10px;
      }
      a{
        color: #FFF;
        text-decoration: underline !important;
      }
    }
  }
  .content{
    @media #{$mobile}{
      text-align: center;
    }
  }
}
.phone-select-wrapper{
  display: flex;
  align-items: center;
  .select2{
    width: 140px !important;
    margin: 0 !important;
    margin-right: 10px !important;
    font-size: 15px !important;
  }
  input{
    margin: 0 !important;
  }
}
