.slick-slide, 
    .slick-slide::before, .caption {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .slick-slide::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .main-slider {
      position: relative;
      width: 100%;
      height: 38vw;
      min-height: 8vw;
      /*margin-bottom: 50px;*/
      opacity: 0;
      visibility: hidden;
      transition: all 1.2s ease;
    }
    .main-slider.slick-initialized {
      opacity: 1;
      visibility: visible;
    }

    .slick-slide {
      position: relative;
      height: 38vw;
    }
    .slick-slide::before {
      background-color: #000;
      opacity: 0.1;
      z-index: 1;
    }
    .slick-slide video {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
    .slick-slide iframe {
      position: relative;
      pointer-events: none;
    }
    .slick-slide figure {
      position: relative;
      height: 100%;
    }
    .slick-slide .slide-image {
      opacity: 0;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: all 0.8s ease;
    }
    .slick-slide .slide-image.show {
      opacity: 1;
    }
    .slick-slide .image-entity {
      width: 100%;
      opacity: 0;
      visibility: hidden;
    }
    .slick-slide .loading {
      position: absolute;
      top: 44%;
      left: 0;
      width: 100%;
    }
    .slick-slide .slide-media {
      -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
              animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
    }
    .slick-slide.slick-active {
      z-index: 1;
    }
    .slick-slide.slick-active .slide-media {
      -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
              animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
    }
    .slick-slide.slick-active .caption {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
    }

    .caption {
      position: absolute;
      bottom: 5%;
      left: 5%;
      text-align: center;
      padding: 20px;
      border: 3px solid;
      color: #fff;
      margin: 0;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 0.02em;
      opacity: 0;
      z-index: 1;
      transition: all 0.3s ease;
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }

    .slick-dots {
      text-align: center;
      padding-top: 15px;
    }
    .slick-dots li {
      display: inline-block;
      vertical-align: top;
      margin: 0 8px;
    }
    .slick-dots li button {
      width: 16px;
      height: 16px;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      border: 2px solid #fff;
      box-shadow: 0 0 0 0 transparent;
      vertical-align: middle;
      color: #fff;
      background-color: #fff;
      transition: all 0.3s ease;
      opacity: 0.4;
    }
    .slick-dots li button:focus {
      outline: none;
    }
    .slick-dots li button:hover {
      opacity: 1;
    }
    .slick-dots li.slick-active button {
      border-color: #2d3042;
      box-shadow: 0 0 0 2px #fff;
      opacity: 1;
    }

    @-webkit-keyframes slideIn {
      from {
        -webkit-filter: blur(15px);
                filter: blur(15px);
      }
      to {
        -webkit-filter: blur(0);
                filter: blur(0);
      }
    }

    @keyframes slideIn {
      from {
        -webkit-filter: blur(15px);
                filter: blur(15px);
      }
      to {
        -webkit-filter: blur(0);
                filter: blur(0);
      }
    }
    @-webkit-keyframes slideOut {
      from {
        -webkit-filter: blur(0);
                filter: blur(0);
      }
      to {
        -webkit-filter: blur(15px);
                filter: blur(15px);
      }
    }
    @keyframes slideOut {
      from {
        -webkit-filter: blur(0);
                filter: blur(0);
      }
      to {
        -webkit-filter: blur(15px);
                filter: blur(15px);
      }
    }

/* Custom */
.main-slider .slick-prev,
.main-slider .slick-next {
  z-index: 9;
  top: 60%;
}
.main-slider .slick-prev {
  left: 10%;
}
.main-slider .slick-next {
  right: 50%;
}
figcaption.caption {
  width: 40%;
  left: 10%;
  text-align: left;
  opacity: 1;
  border: none;
  padding: 25px 30px;

}
figcaption.caption h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
figcaption.caption p {
  font-size: 18px;
  line-height: 27px;
}
.main-slider .slick-arrow.slick-prev {
    background-image: url(../images/left-nav-arrow.png);
}
.main-slider .slick-arrow.slick-next {
    background-image: url(../images/right-nav-arrow.png);
}
.main-slider .slick-arrow {
    width: 13px;
    height: 23px;
}
.main-slider .slick-arrow.slick-prev:before, 
.main-slider .slick-arrow.slick-next:before {
  content: "";
}

.rtl figcaption.caption {
  left: inherit;
  right: 10%;
}
.rtl .main-slider .slick-prev {
  left: inherit;
  right: 10%;
}
.rtl .main-slider .slick-arrow.slick-prev {
    background-image: url(../images/right-nav-arrow.png);
}
.rtl .main-slider .slick-arrow.slick-next {
    background-image: url(../images/left-nav-arrow.png);
}
.rtl figcaption.caption {
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .page-slider-block .slick-slide {
    height: 50vw;
  }
  .main-slider .slick-arrow {
     top: 70%;
  }
}
@media screen and (max-width: 800px) {
  .page-slider-block .slick-slide {
    height: 65vw;
  }
  figcaption.caption {
    width: 50%;
  }
  .main-slider .slick-next {
    right: 40%;
  }
  .rtl .main-slider .slick-prev {
    right: 10%;
    left: inherit;
  }
  .rtl .main-slider .slick-next {
    right: 60%;
  }
  .rtl .embed-player {
    right: 0;
  }

  
}
@media screen and (max-width: 640px) {
  .page-slider-block .slick-slide {
    height: 90vw;
  }
  figcaption.caption {
    width: 100%;
    padding: 10%;
    left: 0;
    top: 30%;

  }
  figcaption.caption h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  figcaption.caption p {
    font-size: 15px;
    line-height: 24px;
  }
  .main-slider .slick-next {
    right: 3%;
  }
  .main-slider .slick-prev {
    left: 3%;
  }
  .rtl figcaption.caption {
    right: 0;
  }
  .rtl .main-slider .slick-next {
    left: 3%;
    right: auto;
  }
  .rtl .main-slider .slick-prev {
    right: 3%;
    left: auto;
  }
}
@media screen and (max-width: 400px) {
  .page-slider-block .slick-slide {
    height: 100vw;
  }
  figcaption.caption {
    top: 25%;
  }
  .main-slider .slick-arrow {
     top: 50%;
  }
}