@media screen and ( max-width:1250px ) {
	.the-container {
		width: 95%;
	}
	.header {
		.header-container {
			.middle-block-container {
				width: 50%;
				right: 246px;
				left: auto;
			}
		}
	}
	.page-slider-block {
		.caption-container {
			.caption-slider-block {
				width: 75%;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				transform: translateX(-50%);
			}
		}
	}
}
@media screen and ( max-width:1024px ) {
	 body, html {
	 	font-size: 15px;
	 	line-height: 24px;
	 }
}
@media screen and ( max-width:992px ) {
	#mobile-menu {
		.main-menu {
			background: $darkyellow-color;
			ul {
				background-color: grey;
				li {
					a {
						background-color: grey!important;
						padding: 15px 20px;
						border-bottom: 1px solid grey;
						font-family: $primary-font;
					}
				}
			}
		}
		.sm-clean {
			background: transparent;
			a {
				font-family: $primary-font;
			}
		}
		.mobile-menu-header {
			font-size: 28px;
			padding: 15px;
			font-weight: $bold;
			color: #fff;
			border-bottom: 1px solid #634a1f;
			.close {
				font-size: 28px;
			    color: #fff;
			    opacity: 0.5;
			}
		}
		&.cbp-spmenu {
			background: $darkyellow-color;
			a {
				background-color: $darkyellow-color!important;
				padding: 15px 20px;
				border-bottom: 1px solid #634a1f;
			}
			a:active,
			a:hover {
				background: #634a1f!important;
				color: $white-color;
			}
		}
	}
	.header {
		.header-container {
			height: 150px;
			.header-top {
				display: block;
				margin-top: 2%;
				padding: 0 1%;
			}
			.left-logo-container {
				left: 75px;
				top: 60%;
			}
			.middle-block-container {
				top: 60%;
				left: 0;
				width: 75px;
				padding-right: 22px;
				.menu-top {
					display: none;
				}
			}
			.right-logo-container {
				top: 60%;
			}
		}
	}
	.desktop-menu {
		display: none;
	}
	.hamburger {
		display: inline-block;
	}
	.mobile-menu {
		display: block;
	}
	.vertical-tabs-block {
		.vertical-tab-blocks {
			.left-block {
				width: 35%;
			}
			.right-block {
				width: 65%;
				padding: 4%;
			}
		}
	}
}
@media screen and ( max-width:767px ) {
	.row {
	    margin-right: 0px;
	    margin-left: 0px;
	}
	.display-mobile {
		display: block;
	}
	.header {
		.header-container {
			.left-logo-container,
			.right-logo-container {
				img {
					width: 75%;
				}
			}
			.right-logo-container { 
				text-align: right;
			}
		}
	}
	.page-intro {
		.content {
			padding: 0;
		}
	}
	.horizontal-tabs-block {
		.tabcontents-wrapper {
			padding: 5%;
		}
	}
	.vertical-tabs-block {
		.vertical-tab-blocks {
			.left-block,
			.right-block {
				width: 100%;
			}
			.right-block {
				.tab-content {
					min-height: auto;
				}
			}
			.nav>li {
				display: inline-block;
			}
			.nav>li a {
				font-size: 0;
			}
			.nav-pills > li > a {
				padding: 50px;
			}
			.nav-pills > li > a > img {
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
			.nav-pills>li>a {
				width: 100%;
				display: inline-block!important;
				padding: 25px;
				span {
					&.table-cell {
						display: inline-block;
					}
					&.table-row {
						display: inline-block;
					}
					&.title {
						display: none;
					}
					&.image {
						width: auto;
					}
				}
			}
		}
	}
	.contact-block {
		.contact-info-block {
			.contact-details {
				padding: 5%;
			}
		}
	}
}
@media screen and ( max-width:640px ) {
	.contact-block {
		.contact-info-block {
			.contact-details {
				width: 100%;
			}
		}
	}
}

@media screen and ( max-width:440px ) {
	.header {
		.header-container {
			height: 110px;
			.left-logo-container,
			.right-logo-container {
				img {
					width: 50%;
				}
			}
		}
	}
	
	.vertical-tabs-block {
		.vertical-tab-blocks {
			.nav-pills > li > a {
				padding: 35px;
			}
			.nav-pills > li > a > img {
				// max-width: 40%;
			}

		}
	}
	
}

@media screen and ( max-width:400px ) {
	.vertical-tabs-block {
		.vertical-tab-blocks {
			.nav-pills > li > a {
				padding: 15px;
			}
		}
	}
}