@media screen and ( max-width:992px ) {
	.rtl {
		.header {
			.header-top {
				.login-wrap {
					&.pull-left {
						float: right!important;
					}
				}
				.language-wrap {
					&.pull-right {
						float: left!important;
					}
				}
			}
			.header-container {
				.left-logo-container {
					right: 75px;
				}
				.middle-block-container {
					right: 0px;
				}
			}
		}
		#mobile-menu {
			.mobile-menu-header {
				.text {
					&.pull-left {
						    float: right!important;
					}
				}
				.close {
					&.pull-right {
						    float: left!important;
					}
				}
			}
		}
		.sm-clean {
			li {
				float: none!important;
				text-align: right;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.rtl {
		.header {
			.header-container {
				.right-logo-container {
					text-align: left;
				}
			}
		}

		.page-intro {
			.content {
				padding: 0;
			}
		}
	}
	.contact-block {
		.contact-info-block {
			.address-block {
				.address-block-col {
					float: right;
				}
			}
		}
	}
}