.rtl {
	.header {
		.header-container {
			.left-logo-container {
				right: 0;
				left: inherit;
			}
			.right-logo-container {
				left: 0;
				right: inherit;
			}
			.middle-block-container {
				text-align: left;
				left: 246px;
				padding-left: 25px;
				padding-right: 0px;
			}
		}
	}
	.sm-clean {
		padding: 0 5px;
		li {
			float: right;
		}
	}
	.cbp-spmenu-left {
		right: -240px;
	}
	.cbp-spmenu-left {
		&.cbp-spmenu-open {
			right: 0px;
			left: inherit;
		}
	}
	.scroll-menu {
		.menu-block {
			&.pull-left {
				float: right!important;
			}
		}
		.login-block {
			&.pull-right {
				float: left!important;
			}
		}
	}

	.page-intro {
		&.home-page-intro {
			background-image: url('../images/about-bg-arabic.jpg');
			.col-sm-6 {
				&.col-xs-12 {
					float: right;
				}
			}
		}
		.content {
			padding: 20px 0 20px 15%;
			.scrollbox {
				padding-right: 0px;
				padding-left: 8px;
				.os-content {
					padding: 0px 0px 0px 8px!important;
				}
			}
		}
	}

	.horizontal-tabs-block {
		.tablinks-wrapper {
			.nav-pills>li {
				float: right;
			}
		}
	}

	.vertical-tabs-block {
		.vertical-tab-blocks {
			.left-block,
			.right-block {
				float: right;
			}
			.right-block {
				.tab-content {
					.scrollbox,
					.scroll-content {
						padding-right: 0px;
						padding-left: 8px;
					}
				}
			}
			.nav-pills>li>a {
				span {
					&.image {
						text-align: right;
					}
					&.title {
						text-align: right;
					}
				}
			}
		}
	}

	.contact-block {
		.location-icon {
			right: inherit;
			left: 35px;
		}
	}
}

