/*====================
Header
======================*/

.header {
	background-color: $white-color;
	.header-container {
		height: 117px;
		.header-top {
			display: none;
			position: relative;
			a {
				color: $darkyellow-color;
			}
		}
		.left-logo-container {
			display: inline-block;
			position: absolute;
			left: 0;
			top: 50%;
			@include transform-translateY(-50%);
		}
		.middle-block-container {
			position: absolute;
		    top: 37%;
		    text-align: right;
		    width: 755px;
		    left: 199px;
		    padding-right: 25px;
		    @include transform-translateY(-50%);
		    .middle-block-wrap {
		    	display: inline-block;
		    }
		    .menu-top {
		    	.menu-top-elements {
		    		margin-bottom: 5px;
		    		span {
		    			display: inline-block;
		    			position: relative;
		    			padding: 5px;
		    			margin: 0 5px;
		    			a {
		    				color: #a78350;
		    				font-size: 13px;
		    			}
		    		}
		    	}
		    }
		}
		.right-logo-container {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			@include transform-translateY(-50%);
		}
		.left-logo-container,
		.right-logo-container {
			a {
				display: inline-block;
			}
		}
	}
	.sm-clean {
		background: transparent;
		a {
			font-family: $primary-font;
		}
	}
	.nav>li>a {
		padding: 0 15px;
		color: $body-font-color;
		font-size: 15px;
		font-family: $primary-font;
	}
	.nav>li>a:hover,
	.nav>li>a:focus {
		color: $darkyellow-color;
	}
	.nav>li:last-child >a {
		padding: 0 0 0 15px;
	}
}
.scroll-menu {
	// display: none;
	background-color: $white-color;
	padding: 10px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
	opacity: 0;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	@include transition-effect;
	.sm-clean {
		padding: 0px;
		background-color: $white-color;
		a {
			padding: 15px 20px;
			font-family: $primary-font;
		}
		a:hover,
		a:focus {
			color: #a78350;
		}
	}
	.login-block {
		margin-top: 8px;
		span {
			padding: 15px 15px;
			a {
			    color: #a78350;
			    font-size: 16px;
			}
		}
	}
}
.fixed-header {
	.scroll-menu {
		z-index: 9;
		opacity: 1;
		@include transition-effect;
	}
}

.mobile-menu {
	display: none;
}


/*====================
Page Styles
======================*/

.page-slider-block {
	position: relative;
	.slider-loader {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	&.show-slider {
		.home-slk-slider {
			opacity: 1;
		}
		.slider-loader {
			opacity: 0;
		}
	}
	.home-slk-slider {
		opacity: 0;
		@include transition-effect;
		.slide-image-wrap {
			img {
				width: 100%;
			}
		}
	}
	
	.caption-container {
		.caption-slider-block {
			position: absolute;
			width: 45%;
			left: 0;
			bottom: 50px;
			color: $white-color;
		}
	}
}

.page-intro {
	&.home-page-intro {
		background-image: url('../images/about-bg.jpg');
		@include background-image-settings;
	}
	.content {
		padding: 20px 15% 20px 0;
		p:last-child {
			margin-bottom: 0px;
		}
		.scrollbox {
			max-height: 150px;
			padding-right: 8px;
		}
	}
}
.horizontal-tabs-block {
	.tablinks-wrapper {
		padding: 10px 0 15px 0;
		text-align: center;
		.nav-pills {
			display: inline-block;
			a {
				font-weight: $bold;
				text-transform: uppercase;
			}
		}
		.nav-pills>li.active>a, 
		.nav-pills>li.active>a:focus, 
		.nav-pills>li.active>a:hover {
			background-color: $darkyellow-color;
			color: $white-color;
		}
		a {
			color: $darkyellow-color;
		}
	}
	.tabcontents-wrapper {
		padding: 3% 6%;
		background-color: $white-color;
		.tab-content {

			.tab-pane {
				.scrollbox,
				.scroll-content {
					max-height: 275px;
					padding-right: 8px;
				}
				p:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
}

.vertical-tabs-block {
	.vertical-tab-blocks {
		.left-block,
		.right-block {
			// display: inline-block;
			float: left;
		}
		.left-block {
			width: 25%;
		}
		.right-block {
			width: 75%;
			background-color: $white-color;
			padding: 3% 6%;
			.tab-content {
				min-height: 400px;
				h3 {
					margin-bottom: 15px;
				}
				.scrollbox,
				.scroll-content {
					max-height: 400px;
					padding-right: 8px;
				}
				ul {
				    list-style: disc;
				    list-style-type: disc;
				    padding: 0px 20px 0px 20px;
				    li {
				        list-style: disc;
				        margin-bottom: 15px;
				        padding-left: 20px;
				    }
				}

			}
		}
		.nav-pills>li>a {
			position: relative;
			padding: 8% 5%;
			color: $dark-color;
			font-size: 19px;
		}
		.nav-pills>li>a>img {
			position: absolute;
			left:25px;
			top:50%;
			transform: translateY(-50%);
		}
		.nav-pills>li.active>a, 
		.nav-pills>li.active>a:focus, 
		.nav-pills>li.active>a:hover {
			background-color: $white-color;
			color: $dark-color;
			font-weight: $bold;
		}

		.nav-pills>li>a {
			width: 100%;
			display: table!important;
			table-layout: fixed;
			span {
				vertical-align: middle;
				&.image {
					// float: left;
					width: 22%;
					text-align: left;
				}
				&.title {
					// float: right;
					width: 78%;
					padding-left: 5px;
					text-align: left;
				}
				&.clearfix {
					display: inline;
				}
			}
		}
	}
}

.contact-block {
	position: relative;
	margin-top: 35px;
	.map {
		min-height: 580px;
	}
	.location-icon {
		display: inline-block;
		position: absolute;
		top: 35px;
		right: 35px;
	}
	.contact-info-block {
		position: absolute;
		z-index: 999;
		bottom: 0;
		bottom: 25px;
		width: 100%;
		display: inline-block;
		.contact-details {
			width: 480px;
			background-color: $darkyellow-color;
			color: $white-color;
			padding: 2% 4%;
			p:last-child {
				margin-bottom: 0px;
			}
			.heading-wrapper {
				h2 {
					font-family: $primary-font;
					font-weight: $regular;
				}
				margin-bottom: 15px;
			}
			.address-block {
				margin-bottom: 15px;
			}
		}
	}
}

.footer {
	background-color: $dark-color;
	color: $white-color;
	p:last-child {
		margin-bottom: 0px;
	}
}